<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="@Url.Content("~/Scripts/jquery-3.7.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>